.Aside-Container{
    background: #76a5b1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}

@media only screen and (max-width:420px){
    .Aside-Container{
        flex-direction: row;
    }
}


.Aside-Container .Aside-List{
    list-style: none;
    display:flex;
    flex-direction: column;
    padding:0;
    justify-content: center;
    align-items: center;
}

.Aside-Container .Aside-List .Item-List{
    display: flex;
    flex-direction: column;
    gap:5px;
    width:65%;
}

.Aside-Container .Aside-List button{
    cursor:pointer;
    border:none;
    border-radius: 20px;
}


@media only screen and (max-width:420px){
    .Aside-Container .Aside-List{
        flex-direction: row;
        align-items: center;
    }
}