.App-Container{
    overflow: hidden;
}

@media only screen and (max-width:420px){
    .App-Container{
        height: 100vh;
        display: grid;
        grid-template-rows: 7% 15% 75% 3%;
        grid-template-areas:
        "h"
        "a"
        "m"
        "f"
    ;
    }
}

@media only screen and (min-width:420px){
    .App-Container{
        height: 100vh;
        display: grid;
        grid-template-rows: 12% 83% 5%;
        grid-template-columns: 1fr 10fr;
        grid-template-areas:
        "h h"
        "a m"
        "f f"
        ;
    }
}

.Header-Container{
    grid-area: h;
}

.Aside-Container{
    grid-area: a;
}

.Main-Container{
    grid-area: m;
}

.Footer-Container{
    grid-area: f;
}
